<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo">tasty treats.</a>
    <nav class="nav desktop-nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="./index.html" class="nav-link active">Home</a></li>
        <li class="nav-item"><a href="./favorites.html" class="nav-link">Favorites</a></li>
      </ul>
    </nav>
    <div class="header-controls">
        <button class="cart-btn js-open-order">🛒</button>
        <button class="theme-switch">🌙</button>
        <button class="mobile-menu-btn js-open-menu">☰</button>
    </div>
  </div>
  <div class="mobile-menu js-menu-container is-hidden">
      <button class="mobile-close-btn js-close-menu">✖</button>
      <ul class="mobile-nav-list">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./favorites.html">Favorites</a></li>
      </ul>
  </div>
</header>