<div class="gallery-wrapper">
    <div class="filters-wrap" id="filters-area">
        <div class="filter-group">
            <label>Search</label>
            <input type="text" id="search-input" placeholder="Enter text">
        </div>
        <div class="filter-group">
            <label>Time</label>
            <select id="time-select"><option value="">Time</option></select>
        </div>
        <div class="filter-group">
            <label>Area</label>
            <select id="area-select"><option value="">Select area</option></select>
        </div>
        <div class="filter-group">
            <label>Ingredient</label>
            <select id="ingredient-select"><option value="">Select ingredient</option></select>
        </div>
        <button id="reset-filters" class="reset-btn">Reset filters ✖</button>
    </div>

    <div class="recipes-grid js-recipes-grid"></div>

    <div id="pagination" class="pagination-container"></div>
</div>